<% include ./partials/header %>
<link rel="stylesheet" href="/css/form.css">
<div class="container">
    <div>
            <h2 class="text-center" id="title">CGPA Calculator</h2>
            <hr>
    </div>
    <form action="" id="form" class="">
            <div id="form-exams-list">
              <div class="form-group form-row">
                <div class="col-md-3">
                <label for="">Course: </label>
                <input type="text" id="exam" placeholder="e.g. CSC 311"/>
                </div>
                <div class="col-md-3">
                <label for="">Course Unit: </label>
                <input type="number" class="credit" id="exam_date" name="credit" />
            </div>
            <div class="col-md-3">
                <label class="" for="">Grade </label>
                <input type="text" class="grade" id="exam_date" placeholder="e.g. B" name=grade/>
            </div>
              </div>
            </div>
            <button class="btn btn-primary js-add--exam-row">Add another exam</button>
            <button class="btn btn-primary calculate">Calculate GPA</button>
            
            
            </form> 
            <h5 id="result" class="text-center text-success mt-4"></h5>
</div>


<script type="text/coffeescript">
#add rows when add button is clicked
$(document).on 'click', '.js-add--exam-row', (e) ->
    e.preventDefault()
    examsList = $('#form-exams-list')
    clone = examsList.children('.form-group:first').clone(true)
    clone.append($('<button>').addClass('btn btn-danger js-remove--exam-row').html('Remove'))
    #reset values in cloned inputs and
    #add enumerated ID's to input fields
    clone.find('input').val('').attr('id', () ->
      return $(this).attr('id') + '_' + (examsList.children('.form-group').length+1)
    )
    examsList.append(clone)

#remove rows when remove button is clicked
$(document).on 'click', '.js-remove--exam-row', (e) ->
    e.preventDefault()
    $(this).parent().remove()
$(document).on 'click', '.calculate', (e) ->
        e.preventDefault()
        credits= $('.credit')
        grades = $('.grade')
        
        total = 0
        i = 0
        courseload = 0

        while i < credits.length
         credit = parseInt( credits[i].value, 10)
         grade = grades[i].value.toLowerCase()
         value = 0
         switch grade
          when 'a'
           value = 5
          when 'b'
           value = 4
          when 'c'
           value = 3
          when 'd'
           value = 2
          when 'e'
           value = 1
          when 'f'
           value = 0
          else
           alert 'Your grade must be either A,B,C,D,E,F'
        
         courseload = courseload + credit
         result = credit * value
         total = total + result
         i++

        gpa = parseFloat(total/courseload)
        p = document.querySelector('#result')
        p.innerHTML = 'YOUR GPA IS ' + gpa
            

</script>


<% include ./partials/footer %>